// Make copy named config.js and replace values

var config = {}

config.bot_ids = ["XXXXXXXXXXXXXXXXXXXXXXXXXX"];
config.token = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX";
config.callback_url = "/groupme/bot";
config.WA_key = "XXXXXXXXXXXXXXXXX";
config.google_key = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX";
config.port = 3000;

module.exports = config;
